* {
    margin: 0;
    padding: 0;
    background-color: rgb(236, 218, 194);
}

nav {
      background-color: rgb(233, 191, 136);
      height: 100px;
      display: flex;
      justify-content: end;
      font-size: 21px;
      width: 100%;
    & a {
        margin: auto 0;
        width: 16%;
      }
    & :first-child {
        margin: auto 30px;
        width: 15%;
        font-size: 27px;
        border-right: solid 2px rgb(36, 33, 33);
    }
}

header {
    display: flex;
    height: 430px;
    margin: 50px 0 50px 0;
    & .perfil {
        width: 100%;
        display: flex;
        margin: auto 0;
        & .img_perfil {
            display: flex;
            width: 25%;
            height: 430px;
            background-color:  rgb(66, 71, 79);
            & img {
                border-radius: 50%;
                border: solid 5px;
                width: 90%;
                height: auto;
                margin: auto;
            }
        }
        & .description {
            height: 430px;
            width: 80%;
            & h1 {
                width: 100%;
                height: 50px;
                text-align: center;
                font-size: 40px;
                margin: 32px auto 10px auto;
                background-color: transparent;
            }
            & h3 {
                display: flex;
                justify-content: center;
                font-size: 25px;
            }
            & p {
                margin: 10px 40px 0 40px;
                text-align: center;
                font-size: 20px;
            }
        }
    }
    & .icono_programacion {
        display: flex;
        width: 25%;
        height: 430px;
        margin: auto 0;
        background-color:  rgb(66, 71, 79);
        & img {
        border-radius: 50%;
        border: solid 5px;
        width: 90%;
        height: auto;
        margin: auto;
        }
    }
}

.info_section {
    display: flex;
    width: 100%;
    height: 800px;
    justify-content: space-between;
    padding: 70px 0;
    background-color: rgb(253, 248, 238);
    & .left_section {
        height: 300px;
        width: 45%;
        margin-left: 40px;
        & .experiencia{
            text-align: center;
            & h4 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 70px;
                font-size: 28px;
            }
            & ul {
                margin: 0 0 20px 0;
                border-radius: 10px;
                & li {
                    justify-content: space-between;
                    margin: 0 12px 12px;
                }
            }
        }
        & .educacion {
            margin: 60px 0;
            text-align: center;
            & h4 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 70px;
                font-size: 28px;
            }
            & ul {
                margin: 0 0 20px 0;
                border-radius: 10px;
                & li {
                    justify-content: space-between;
                    margin: 0 12px 12px;
                }
            }
        }
    }
    & .right_section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 677px;
        width: 45%;
        margin-right: 40px;
        & aside {
            & .lenguajes {
                text-align: center;
                & h3 {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: 56.5px;
                    font-size: 28px;
                }
                & ul {
                    margin: 0 0 20px 0;
                    border-radius: 10px;
                    & li {
                        justify-content: space-between;
                        margin: 0 12px 12px;
                    }
                }
            }
            & .programas {
                text-align: center;
                & h3 {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: 56.5px;
                    font-size: 28px;
                }
                & ul {
                    margin: 0 0 20px 0;
                    border-radius: 10px;
                    & li {
                        justify-content: space-between;
                        margin: 0 12px 12px;
                    }
                }
            }
        }
        & footer {
            display: flex;
            justify-content: space-around;
            padding: 0 30px;
            margin: 0 0 18px 0;
            & #contact_info {
                display: flex;
                & i {
                    font-size: 45px;
                    margin: 0 80px;
                }
                & a {
                    display: flex;
                    justify-content: center;
                    color: black;
                }
            }
        }
    }
}